<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="Terminal" value="4" />
    <add key="FILIAL" value="MATRIZ" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Conexao" connectionString="Data Source=localhost\mssqlserver2019;Initial Catalog=BratterWEB_VG;User ID=sa;Password=alo" providerName="System.Data.SqlClient"/>
    <!--<add name="Conexao" connectionString="Data Source=192.168.15.121;Initial Catalog=VILLAGRANO;User ID=sa;Password=Soft@bratter" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>